.hero-image {
    background-color: wheat;
    height: calc(100vh - 90px);
    margin-top: 90px;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .parallax {
        position: absolute;
        background-image: url("/dist/assets/hero/3.jpg");
        height: calc(100vh - 90px);
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: $zoom-duration ease-out 0s 1 zoomIn;
        transform: scale($zoom-scale);
        filter: blur(0px) brightness($hero-brightness);
    }

    .hero-text {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hero-btn {
            margin-top: 100px;
        }
    }
}