li,
a,
button {
  font-family: 'Roboto', sans-serif;
  color: $navbar-font;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20%;
  background-color: $navbar-bg;
  transition: all 0.3s ease 0s;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-height: 100%;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: $nav-links-hover;
}

button {
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

// button:hover {
//   background-color: $navbar-btn-hover;
// }


// Source: https://gradientbuttons.colorion.co/
.btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 9px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}