.amenitiesSection {
  height: 100vh;
  width: 100vw;
  // background-color: #2ec7ff;
  // background-image: linear-gradient(270deg, #2ec7ff 0%, #0867ff 100%);

  .deepest_layer {
    background-color: red;
  }


}
