.amenitiesSection {
  width: 100vw;

  @include phone {
    height: 330vw;
  }

  @include tablet-portrait {
    height: 145vh;
  }

  @include tablet-landscape {
    height: 170vh;
  }

  @include desktop-hd {
    height: 180vh;
  }

  @include desktop-2k {
    height: 190vh;
  }

  .deepest_layer {
    background-color: $primary-color;
  }

  .front_layer {
    transition: transform 1s ease;

    .wrapper {
      width: 70vw;
      display: flex;

      @include phone {
        padding-top: 50vh;
        justify-content: center;
        width: 100vw;
        margin-left: 0;
      }

      @include tablet-portrait {
        justify-content: flex-end;
        width: 87.5vw;
        padding-top: 40vh;
      }

      @include tablet-landscape {
        justify-content: flex-end;
        width: 90vw;
        padding-top: 45vh;
      }

      @include laptop {
        justify-content: flex-end;
        width: 85vw;
        padding-top: 40vh;
      }

      @include desktop-hd {
        justify-content: flex-end;
        width: 80vw;
      }

      .mouth {
        aspect-ratio: 1/1;
        background-image: url(/dist/assets/amenities/amenities-mouth.jpg);
        mask-image: url(/dist/assets/amenities/amenities-mouth.svg);
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include phone {
          height: 70vw;
        }

        @include tablet-portrait {
          height: 60vw;
        }

        @include tablet-landscape {
          height: 40vw;
        }

        @include desktop-hd {
          height: 35vw;
        }
      }

      .mouth-shape {
        aspect-ratio: 1/1;
        background-image: url(/dist/assets/amenities/amenities-mouth-shape.svg);
        background-size: contain;
        background-repeat: no-repeat;

        @include phone {
          top: 48vh;
          transform: translateX(20vw);
          position: absolute;
          width: 10vh;
        }

        @include tablet-portrait {
          width: 15vw;
          position: absolute;
        }

        @include tablet-landscape {
          display: none;
        }

        @include laptop {
          width: 13vh;
          display: block;
        }

        @include desktop-hd {
          width: 15vh;
          display: block;
        }
      }

      .mouth-ball {
        width: 1vh;
        aspect-ratio: 1/1;
        background-image: url(/dist/assets/amenities/amenities-mouth-ball.svg);
        background-size: contain;
        background-repeat: no-repeat;

        @include phone {
          top: 47vh;
          transform: translateX(26vw);
          position: absolute;
        }

        @include tablet-portrait {
          width: 1.25vw;
          transform: translateX(-60vw) translateY(55vw);
          position: absolute;
        }

        @include tablet-landscape {
          width: 1vw;
          transform: translateX(-37vw) translateY(37vw);
          position: absolute;
        }

        @include desktop-hd {
          width: 0.8vw;
          transform: translateX(-32vw) translateY(32vw);
          position: absolute;
        }
      }
    }
  }

  .front_layer_active {
    transform: translateZ(0px);
    z-index: 0;
  }

  .deep_mid_layer {
    padding-top: 30vh;
    opacity: 0;
    transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
    z-index: -1;

    .wrapper {
      height: 100%;
      padding-top: 10vh;

      .bg-shape {
        margin-left: auto;
        aspect-ratio: 1.57/1;
        background-image: url(/dist//assets/amenities/amenities-bg-shape.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include phone {
          display: none;
        }

        @include tablet-portrait {
          display: none;
        }

        @include tablet-landscape {
          width: 80vw;
        }

        @include laptop-small {
          width: 85vw;
        }

        @include laptop {
          width: 80vw;
        }

        @include desktop-hd {
          width: 75vw;
        }

        @include desktop-2k {
          width: 70vw;
        }
      }
    }
  }

  .deep_mid_layer_front {
    transition: transform 1s ease 0.5s;
    .wrapper {
      height: 100%;
      .bg-circle-dashed {
        margin-left: auto;
        aspect-ratio: 1/1;
        background-image: url(/dist/assets/amenities/amenities-bg-ball-dashed.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include phone {
          width: 10vw;
          position: absolute;
          left: 10%;
          top: 40%;
        }

        @include tablet-portrait {
          width: 6vw;
          margin-right: 60vw;
          padding-top: 165vw;
        }

        @include tablet-landscape {
          width: 6vw;
          margin-right: 35vw;
          padding-top: 120vw;
        }

        @include laptop-small {
          width: 6vh;
          margin-right: 37vw;
          padding-top: 115vw;
        }

        @include laptop {
          width: 6vh;
          margin-right: 40vw;
          padding-top: 110vw;
        }

        @include desktop-hd {
          margin-right: 27.5vw;
          padding-top: 105vw;
        }

        @include desktop-2k {
          margin-right: 35%;
          padding-top: 100vw;
        }
      }

      .bg-circle {
        margin-left: auto;
        aspect-ratio: 1/1;
        background-image: url(/dist/assets/amenities/amenities-bg-ball.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include phone {
          width: 10vw;
          position: absolute;
          left: 44%;
          top: 52.5%;
        }

        @include tablet-portrait {
          width: 6vw;
          margin-right: 30vw;
          padding-top: 227vw;
        }

        @include tablet-landscape {
          width: 6vw;
          margin-right: 18vw;
          padding-top: 147vw;
        }

        @include laptop-small {
          width: 6vh;
          margin-right: 20vw;
          padding-top: 146vw;
        }

        @include laptop {
          margin-right: 26vw;
          padding-top: 130vw;
        }

        @include desktop-hd {
          margin-right: 20vw;
          padding-top: 115vw;
        }

        @include desktop-2k {
          margin-right: 20vw;
          padding-top: 110vw;
        }
      }
    }
  }

  .deep_mid_layer_front_active {
    transform: translateZ(0px);
    z-index: 0;
  }

  .deep_mid_layer_active {
    transform: translateZ(0px);
    opacity: 1;
  }

  .mid_layer::after {
    content: '';
    width: 100vw;
    bottom: -1vh;
    aspect-ratio: 7.4329/1;
    z-index: -1;
    position: absolute;
    background: center/cover no-repeat
      url('/dist/assets/amenities/amenities-shape-bottom.svg');

    @include phone {
      aspect-ratio: 2/1;
      background: center/cover no-repeat
        url('/dist/assets/amenities/amenities-shape-bottom-mobile.svg');
    }
  }

  .mid_layer {
    .wrapper {
      display: flex;
      flex-direction: column;

      @include phone {
        padding-top: 30vh;
      }

      @include tablet-portrait {
        padding-top: 20vh;
      }

      @include tablet-landscape {
        padding-top: 30vh;
      }

      @include desktop-hd {
        padding-top: 40vh;
      }

      .amenitiesText {
        @include tablet-portrait {
          margin-left: 5vw;
        }

        @include laptop {
          margin-left: 7.5vw;
        }

        @include desktop-hd {
          margin-left: 5vw;
        }

        @include desktop-2k {
          margin-left: 10vw;
        }
      }
    }

    .reviews-container {
      padding: 2vw;
      display: flex;
      user-select: none;

      @include phone {
        animation: marquee-phone 20s linear infinite;
        margin-top: 115vw;
      }

      @include tablet-portrait {
        animation: marquee-tablet-portrait 20s linear infinite;
        margin-top: 65vh;
      }

      @include tablet-landscape {
        animation: marquee-tablet-landscape 20s linear infinite;
        margin-top: 65vh;
      }

      @include laptop {
        margin-top: 65vh;
      }

      @include desktop-hd {
        margin-top: 60vh;
        animation: marquee-desktop-hd 20s linear infinite;
      }

      @include desktop-2k {
        margin-top: 70vh;
      }

      &:hover {
        animation-play-state: paused;
      }

      &-marquee {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @include phone {
          min-width: 200vw;
          gap: 10vw;
          margin-right: 10vw;
        }

        @include tablet-portrait {
          min-width: 180vw;
          gap: 15vw;
          margin-right: 15vw;
        }

        @include tablet-landscape {
          min-width: 100vw;
          gap: 10vw;
          margin-right: 20vw;
        }

        @include desktop-hd {
          min-width: 110vw;
          gap: 10vw;
          margin-right: 10vw;
        }

        .review {
          display: flex;
          flex-direction: column;
          align-items: center;

          // every new width adjustment on review needs to be accounted for
          // with new animation & spacing above (gap & min width & margin)
          @include phone {
            width: 25vw;
          }

          @include tablet-portrait {
            width: 15vw;
          }

          @include tablet-landscape {
            width: 10vw;
          }

          @include desktop-hd {
            width: 9vw;
          }

          &-1 {
            margin-bottom: 1vh;
            aspect-ratio: 1/1;
            width: 100%;
            background-image: url(/dist/assets/amenities/amenities-review1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          &-2 {
            margin-bottom: 1vh;
            aspect-ratio: 1/1;
            width: 100%;
            background-image: url(/dist/assets/amenities/amenities-review2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          &-3 {
            margin-bottom: 1vh;
            aspect-ratio: 1/1;
            width: 100%;
            background-image: url(/dist/assets/amenities/amenities-review3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          .rating {
            margin-top: 1vh;
            margin-bottom: 1vh;
            width: 15vh;
            aspect-ratio: 6.77/1;
            background-image: url(/dist/assets/amenities/amenities-rating.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
          }
        }
      }
    }

    .amenities-btn-container {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        position: absolute;

        @include phone {
          left: auto;
          bottom: 9.5%;
          padding: 2vw 5vw;
        }

        @include tablet-portrait {
          padding: 1vw 4vw;
          bottom: 1.5%;
        }

        @include tablet-landscape {
          bottom: 2.5%;
          padding: 1vw 3vw;
        }

        @include laptop {
          bottom: 4%;
          padding: 0.6vw 1.5vw;
        }

        @include desktop-hd {
          bottom: 4.5%;
          padding: 0.5vw 1.5vw;
        }

        @include desktop-2k {
          bottom: 5%;
        }
      }
    }
  }
}

@keyframes marquee-phone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200vw - 10vw));
  }
}

@keyframes marquee-tablet-portrait {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-180vw - 15vw));
  }
}

@keyframes marquee-tablet-landscape {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 20vw));
  }
}

@keyframes marquee-desktop-hd {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-110vw - 10vw));
  }
}
