.amenitiesSection {
  height: 160vh;
  width: 100vw;

  .deepest_layer {
    background-color: $primary-color;
  }

  .front_layer {
    transition: transform 1s ease;

    .wrapper {
      width: 70vw;
      height: 100vh;
      .mouth {
        height: 60vh;
        margin-top: 25vh;
        // Neat trick if you don't want to position with left edge
        // transform: translateX(
        //   -50%
        // ); /* Center element horizontally (shift 50% left of it's own width) that way you're moving centre of the element and not it's left edge */
        background-image: url(/dist/assets/amenities/amenities-mouth.jpg);
        mask-image: url(/dist/assets/amenities/amenities-mouth.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: right;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
      }
      .mouth-shape {
        position: absolute;
        right: 17.5vw;
        top: 25vh;
        width: 10vh;
        height: 10vh;
        background-image: url(/dist/assets/amenities/amenities-mouth-shape.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mouth-ball {
        position: absolute;
        right: 15vw;
        top: 35vh;
        width: 1vh;
        height: 1vh;
        background-image: url(/dist/assets/amenities/amenities-mouth-ball.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .front_layer_active {
    transform: translateZ(0px);
    z-index: 0;
  }

  .deep_mid_layer {
    padding-top: 30vh;
    opacity: 0;
    transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
    z-index: -1;

    .wrapper {
      margin-left: 0;
      height: 100%;
      padding-top: 10vh;
      .bg-shape {
        margin-left: auto;
        width: 75vw;
        height: 90vh;
        background-image: url(/dist//assets/amenities/amenities-bg-shape.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .deep_mid_layer_front {
    transition: transform 1s ease 0.5s;
    .wrapper {
      height: 100%;
      .bg-circle-dashed {
        margin-left: auto;
        margin-right: 38%;
        padding-top: 125vh;
        width: 6vh;
        height: 6vh;
        background-image: url(/dist/assets/amenities/amenities-bg-ball-dashed.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      .bg-circle {
        margin-left: auto;
        margin-right: 20vw;
        padding-top: 175vh;
        width: 6vh;
        height: 6vh;
        background-image: url(/dist/assets/amenities/amenities-bg-ball.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .deep_mid_layer_front_active {
    transform: translateZ(0px);
    z-index: 0;
  }

  .deep_mid_layer_active {
    transform: translateZ(0px);
    opacity: 1;
  }

  .mid_layer::after {
    content: '';
    width: 100vw;
    height: 45vh;
    bottom: -10vh;
    position: absolute;
    background: center/contain no-repeat
      url('/dist/assets/amenities/amenities-shape-bottom.svg');
  }

  .mid_layer {
    .wrapper {
      padding-top: 40vh;
      display: flex;
      flex-direction: column;

      .amenitiesText {
        margin-left: 14vw;
      }

      .reviews-container {
        margin-top: 60vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
        display: flex;
        justify-content: space-between;

        .review {
          width: 15vw;
          height: 30vh;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-1 {
            margin-bottom: 1vh;
            width: 15vh;
            height: 15vh;
            background-image: url(/dist/assets/amenities/amenities-review1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          &-2 {
            margin-bottom: 1vh;
            width: 15vh;
            height: 15vh;
            background-image: url(/dist/assets/amenities/amenities-review2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          &-3 {
            margin-bottom: 1vh;
            width: 15vh;
            height: 15vh;
            background-image: url(/dist/assets/amenities/amenities-review3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
          }

          .rating {
            margin-top: 1vh;
            margin-bottom: 1vh;
            width: 15vh;
            height: 2vh;
            background-image: url(/dist/assets/amenities/amenities-rating.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }

  button {
    z-index: 2;
    bottom: 1vh;
    left: 45%;
    position: absolute;
  }
}
