.articlesSection {
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);

  @include phone {
    height: 160vw;
  }

  @include tablet-portrait {
    height: 60vh;
  }

  @include tablet-landscape {
    height: 70vh;
  }

  .wrapper {
    height: 100%;
  }

  .article-title-main {
    margin: 10vh 0 10vh 0;
  }

  .articles-container {
    width: 100%;
    height: auto;
    display: grid;
    overflow: hidden;
    scroll-behavior: smooth;

    @include phone {
      grid-template-columns: repeat(3, 100%);
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include tablet-portrait {
      grid-template-columns: repeat(3, 100%);
    }

    @include tablet-landscape {
      grid-template-columns: repeat(2, 100%);
    }

    .articles-group {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 5vw;
      padding: 2vw 4vw;

      @include phone {
        display: none;
      }

      @include tablet-portrait {
        display: none;
        padding: 2vw 6vw;
      }

      @include tablet-landscape {
        display: flex;
        padding: 2vw 4vw;
      }

      &-mobile {
        @include phone {
          display: flex;
        }

        @include tablet-portrait {
          display: flex;
        }

        @include tablet-landscape {
          display: none;
        }
      }
    }

    .arrow-btn {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      padding: 1vw;
      top: 50%;
      // position element using center instead of top left corner
      transform: translate(0%, -50%);
      text-align: center;
      z-index: 10;
      color: $primary-gradient;

      @include phone {
        display: none;
      }

      &-left {
        left: 0%;
      }

      &-right {
        right: 0%;
      }
    }

    .article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.5fr 1fr;
      grid-template-areas:
        'left right'
        'bottom bottom';
      transition: all 0.2s linear;
      cursor: pointer;
      flex-grow: 1;
      width: 100%;

      @include phone {
        grid-template-areas: 'left left' 'right right' 'bottom bottom';
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;
      }

      &:hover {
        scale: 1.05;
        border-radius: 5%;
      }

      &-1,
      &-2,
      &-3 {
        &-image {
          grid-area: left;
          height: 15vh;
          width: 15vh;
          border-radius: 50%;
          background: center / cover no-repeat
            url(/dist/assets/articles/articles-dentist.jpg);
          margin-right: 1vw;

          @include phone {
            height: 30vw;
            width: 30vw;
            align-self: flex-end;
          }
        }
      }

      &-info {
        grid-area: right;
        align-self: center;
      }

      &-time {
        display: flex;
        align-items: center;
        margin: 0.5vh 0 0.5vh;

        &-icon {
          height: 1.5vh;
          width: 2vh;
          margin-right: 0.4vw;
          background: center / contain no-repeat
            url(/dist/assets/articles/articles-clock.svg);
        }
      }

      &-comments {
        display: flex;
        align-items: center;

        &-icon {
          float: left;
          height: 1.5vh;
          width: 2vh;
          margin-right: 0.4vw;
          background: center / contain no-repeat
            url(/dist/assets/articles/articles-comment.svg);
        }
      }

      &-text {
        grid-area: bottom;
      }

      &-title {
        @include phone {
          margin: 0vw 0 4vw 0;
        }

        @include tablet-portrait {
          margin: 5vw 0 2vw 0;
        }

        @include tablet-landscape {
          margin: 5vh 0 2vh 0;
        }
      }
    }
  }
}
