.hero-section {
  width: 100vw;

  @include phone {
    height: 100vh;
  }

  @include tablet-portrait {
    height: 100vh;
  }

  @include tablet-landscape {
    height: 105vh;
  }

  @include laptop {
    height: 105vh;
  }

  @include desktop-hd {
    height: 110vh;
  }

  .deep_layer {
    z-index: -1;
  }

  .deepest_layer::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 110vh;
    background: #1950bd;
    background: linear-gradient(to top, #1950bd 0%, #0965fb 70%);
  }

  .deep_layer::before {
    content: '';
    position: absolute;
    background-image: url(/dist/assets/hero/tlo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include tablet-portrait {
      bottom: 0vh;
      left: 40vw;
      width: 70vw;
      aspect-ratio: 1/1;
    }

    @include tablet-landscape {
      bottom: 0vh;
      left: 44vw;
      width: 55vw;
      height: 70vh;
    }
  }

  .back_layer {
    width: 100vw;
    height: 110vh;

    .bg-extra {
      position: absolute;
      background-image: url(/dist/assets/hero/tlo_extra.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include tablet-portrait {
        left: 35vw;
        width: 40vw;
        bottom: 45vw;
        aspect-ratio: 2/1;
      }

      @include tablet-landscape {
        height: 43vw;
        left: 47vw;
        width: 18vw;
        bottom: 15vw;
      }

      @include laptop-small {
        height: 35vw;
        bottom: 20vw;
      }

      @include desktop-hd {
        bottom: 20vw;
        height: 25vw;
      }

      @include desktop-2k {
        bottom: 35vh;
        left: 50vw;
        width: 15vw;
      }
    }

    .circle-left {
      aspect-ratio: 1/1;
      top: 30vh;
      position: absolute;
      background-image: url(/dist/assets/hero/kolo_lewe.svg);
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 7vw;
        left: 20vw;
      }

      @include tablet-portrait {
        width: 2.5vw;
        left: 20vw;
      }

      @include tablet-landscape {
        width: 1.5vw;
        left: 30vw;
      }

      @include laptop-small {
        left: 20vw;
      }

      @include desktop-hd {
        left: 30vw;
      }
    }

    .circle-right {
      aspect-ratio: 1/1;
      position: absolute;
      top: 30vh;
      right: 9vw;
      background-image: url(/dist/assets/hero/kolo_prawe.svg);
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 4vw;
      }

      @include tablet-portrait {
        width: 2vw;
      }

      @include tablet-landscape {
        width: 1.5vw;
      }

      @include desktop-hd {
        width: 1vw;
      }
    }

    .circle-middle {
      aspect-ratio: 1/1;
      position: absolute;
      top: 18vh;
      right: 37vw;
      background-image: url(/dist/assets/hero/kolo_srodkowe.svg);
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 7vw;
      }

      @include tablet-portrait {
        width: 5vw;
      }

      @include tablet-landscape {
        width: 3vw;
      }

      @include desktop-hd {
        width: 2vw;
      }
    }

    .rectangle-right {
      aspect-ratio: 1/1;
      position: absolute;
      background-image: url(/dist/assets/hero/prostokat_prawy.svg);
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        top: 20vh;
        right: 90vw;
        width: 20vw;
      }

      @include tablet-portrait {
        top: 15vh;
        left: 95vw;
        width: 15vw;
      }

      @include tablet-landscape {
        top: 1vh;
        right: -3vw;
        width: 6vw;
      }

      @include desktop-hd {
        top: -3vw;
        width: 6vw;
      }
    }

    .triangle-bottom {
      position: absolute;
      bottom: 15vh;
      left: 20vw;
      background-image: url(/dist/assets/hero/trojkat_dolny.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(30deg);

      @include phone {
        aspect-ratio: 1/1;
        width: 15vw;
      }

      @include tablet-portrait {
        aspect-ratio: 1/1;
        width: 7vw;
      }

      @include tablet-landscape {
        aspect-ratio: 1/1;
        width: 5vw;
      }

      @include desktop-hd {
        aspect-ratio: 1/1;
        width: 3vw;
      }
    }

    .triangle-middle {
      aspect-ratio: 1/1;
      position: absolute;
      top: 25vh;
      left: 35vw;
      background-image: url(/dist/assets/hero/trojkat_srodkowy.svg);
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 4vw;
      }

      @include tablet-portrait {
        width: 1.6vw;
      }

      @include tablet-landscape {
        width: 1vw;
      }

      @include desktop-hd {
        width: 0.8vw;
      }
    }
  }

  .subject::before {
    content: '';
    position: absolute;
    width: 100vw;
    bottom: -1vh;
    background-image: url(/dist/assets/hero/teeth_bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @include phone {
      aspect-ratio: 8/12;
      background-position: right 70% bottom;
    }

    @include tablet-portrait {
      aspect-ratio: 11/12;
      background-position: right 45% bottom;
    }

    @include tablet-landscape {
      aspect-ratio: 12/9;
      background-position: right 25% bottom;
    }

    @include laptop-small {
      aspect-ratio: 12/9;
    }

    @include laptop {
      aspect-ratio: 14/9;
    }

    @include desktop-2k {
      aspect-ratio: 16/9;
    }
  }

  // phone specific to center the typography on small screens
  .text {
    @include phone {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include phone {
      align-items: center;
      top: 40vh;
    }

    @include tablet-portrait {
      top: 40vh;
      left: 5%;
    }

    @include tablet-landscape {
      top: 35vh;
      left: 10%;
    }

    @include laptop-small {
      top: 42.5vh;
    }

    @include desktop-hd {
      top: 40vh;
    }

    @include desktop-2k {
      left: 12.5%;
    }

    .hero-lead-small {
      display: inline-block;
    }

    .hero-lead {
      display: inline-block;
    }

    .hero-subtext {
      margin: 0 0 0 0;

      @include phone {
        margin: 3vh 0 0 0;
      }

      @include desktop-hd {
        margin: 2vh 0 0 0;
      }
      display: inline-block;
    }

    #hero-btn {
      @include phone {
        margin-top: 5vh;
      }

      @include tablet-portrait {
        margin-top: 2vh;
      }

      @include desktop-2k {
        margin-top: 4vh;
      }

      .btn-hero {
        @include desktop-2k {
          width: 10vw;
        }
        height: 6vh;
      }

      .btn-grad {
        margin: 0;
        float: left;
      }

      .btn-flat {
        margin: 0 0 0 2vw;
        float: left;
      }
    }
  }
}
