.info-section {
  height: 150vh;
  width: 100vw;
  background-color: $info-bg;

  @include phone {
    height: 450vw;
  }

  @include laptop-small {
    height: 170vh;
  }

  @include laptop {
    height: 150vh;
  }

  .mid_layer::before {
    content: '';
    position: absolute;
    bottom: 1vh;
    transform: translateY(100%);
    width: 100vw;
    aspect-ratio: 10.4492/1;
    background-image: url(/dist/assets/info/info-bg-bottom.svg);
    background-position: top;
    background-size: cover;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    @include phone {
      margin-top: 15vh;
    }

    @include tablet-portrait {
      margin-top: 8vh;
    }

    @include laptop-small {
      margin-top: 15vh;
    }

    .info-button {
      margin-bottom: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info-container {
      margin-top: 10vh;
      height: 100%;
      display: flex;

      .info-image-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        --img-size: 50vh;

        @include laptop-small {
          --img-size: 70vh;
        }

        @include laptop {
          --img-size: 75vh;
        }

        @include desktop-hd {
          --img-size: 80vh;
        }

        .info-image {
          margin-top: 5vh;
          height: var(--img-size);
          aspect-ratio: 0.69/1;
          background-image: url(/dist/assets/info/info-image.png);
          mask-image: url(/dist/assets/info/info-image-bg.svg);
          mask-repeat: no-repeat;
          mask-position: left;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
        }

        &::before {
          content: '';
          z-index: -1;
          margin-top: 45vh;
          position: absolute;
          height: var(--img-size);
          aspect-ratio: 0.69/1;
          top: 0;
          background-image: url(/dist/assets/info/info-image-bg.svg);
          background-position: left;
          background-size: contain;
          background-repeat: no-repeat;
          transform: rotate(-20deg);
        }
      }

      .image-col {
        @include phone {
          display: none;
        }

        @include tablet-portrait {
          display: none;
        }

        @include laptop {
          display: block;
          width: 50%;
          height: 80%;
        }
      }

      .icons-col {
        width: 100%;
        height: 80%;

        @include laptop {
          width: 50%;
          padding-left: 4vw;
        }

        @include desktop-2k {
          padding-left: 5vw;
        }

        .icons-container {
          height: 100%;
          display: grid;
          align-items: center;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 2vw;

          & > * {
            &:nth-child(1) {
              margin-left: auto;
            }

            &:nth-child(3) {
              margin-left: auto;
            }
          }

          @include phone {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-items: center;

            & > * {
              &:nth-child(1) {
                margin-left: 0;
              }

              &:nth-child(3) {
                margin-left: 0;
              }
            }
          }

          @include laptop {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin-top: 5vh;

            & > * {
              &:nth-child(1) {
                margin-left: 0;
              }

              &:nth-child(3) {
                margin-left: 0;
              }
            }
          }

          .info-icon {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4vw;
            background-color: $primary-color;
            aspect-ratio: 1/1;
            height: 75%;
            padding: 4vw 2vw;
            border-radius: 20%;

            @include phone {
              gap: 5vh;
              height: auto;
              width: 90%;
            }

            &:nth-child(1) {
              align-self: end;

              @include phone {
                align-self: auto;
              }

              &::before {
                content: '';
                width: 1vw;
                aspect-ratio: 1/1;
                position: absolute;
                left: 30%;
                bottom: 50%;
                background-image: url(/dist/assets/hero/kolo_lewe.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                aspect-ratio: 1/1;
                width: 2vw;
                position: absolute;
                right: 20%;
                top: 15%;
                background-image: url(/dist/assets/hero/kolo_srodkowe.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }
            }

            &:nth-child(2) {
              align-self: end;
              background-color: $primary-gradient;

              @include phone {
                align-self: auto;
              }

              @include laptop {
                background-color: transparent;
              }

              &::before {
                content: '';
                width: 1.5vw;
                aspect-ratio: 1/1;
                position: absolute;
                left: 30%;
                top: 15%;
                background-image: url(/dist/assets/hero/trojkat_srodkowy.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                aspect-ratio: 1/1;
                width: 3vw;
                position: absolute;
                right: 25%;
                bottom: 50%;
                transform: rotate(60deg);
                background-image: url(/dist/assets/hero/trojkat_dolny.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }
            }

            &:nth-child(3) {
              align-self: start;
              background-color: $primary-gradient;

              @include phone {
                align-self: auto;
              }

              @include laptop {
                background-color: transparent;
              }

              &::before {
                content: '';
                width: 3vw;
                aspect-ratio: 1/1;
                position: absolute;
                left: 20%;
                top: 15%;
                background-image: url(/dist/assets/hero/trojkat_dolny.svg);
                transform: rotate(30deg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                aspect-ratio: 1/1;
                position: absolute;
                width: 2vw;
                right: 22.5%;
                bottom: 50%;
                background-image: url(/dist/assets/hero/kolo_lewe.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop-small {
                  width: 1vw;
                  right: 25%;
                  bottom: 50%;
                }

                @include laptop {
                  display: none;
                }
              }
            }

            &:nth-child(4) {
              align-self: start;

              @include phone {
                align-self: auto;
              }

              &::before {
                content: '';
                width: 3vw;
                aspect-ratio: 1/1;
                position: absolute;
                right: 25%;
                top: 15%;
                background-image: url(/dist/assets/info/prostokat.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                aspect-ratio: 1/1;
                width: 1.5vw;
                position: absolute;
                left: 30%;
                bottom: 47.5%;
                background-image: url(/dist/assets/hero/trojkat_srodkowy.svg);
                background-size: contain;
                background-repeat: no-repeat;

                @include laptop {
                  display: none;
                }
              }
            }

            @include laptop {
              flex-direction: row;
              justify-content: flex-start;
              align-items: stretch;
              gap: 0;
              background-color: transparent;
              aspect-ratio: auto;
              height: auto;
              padding: 0;
              border-radius: 0;

              &:nth-child(1) {
                align-self: start;
              }

              &:nth-child(2) {
                align-self: start;
              }

              &:nth-child(3) {
                align-self: start;
              }

              &:nth-child(4) {
                align-self: start;
              }
            }

            // dimensions for all icons
            $icon-aspect-ratio: 1/1;
            $icon-width: 10vw;

            &-hospital {
              aspect-ratio: $icon-aspect-ratio;
              width: $icon-width;

              &::before {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background-color: white;
                border-radius: 50%;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background: url(/dist/assets/info/info-hospital-mobile.svg)
                  center/contain no-repeat;
                border-radius: 50%;
                scale: 0.95;

                @include laptop {
                  display: none;
                }
              }

              @include laptop {
                background: url(/dist/assets/info/info-hospital.svg)
                  center/contain no-repeat;
                width: 10vh;
              }
            }

            &-tooth {
              aspect-ratio: $icon-aspect-ratio;
              width: $icon-width;

              &::before {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background-color: white;
                border-radius: 50%;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background: url(/dist/assets/info/info-tooth-mobile.svg)
                  center/contain no-repeat;
                border-radius: 50%;
                scale: 0.95;

                @include laptop {
                  display: none;
                }
              }

              @include laptop {
                background: url(/dist/assets/info/info-tooth.svg) center/contain
                  no-repeat;
                width: 10vh;
              }
            }

            &-jaw {
              aspect-ratio: $icon-aspect-ratio;
              width: $icon-width;

              &::before {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background-color: white;
                border-radius: 50%;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background: url(/dist/assets/info/info-jaw-mobile.svg)
                  center/contain no-repeat;
                border-radius: 50%;

                @include laptop {
                  display: none;
                }
              }

              @include laptop {
                background: url(/dist/assets/info/info-jaw.svg) center/contain
                  no-repeat;
                width: 10vh;
              }
            }

            &-tools {
              aspect-ratio: $icon-aspect-ratio;
              width: $icon-width;

              &::before {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background-color: white;
                border-radius: 50%;

                @include laptop {
                  display: none;
                }
              }

              &::after {
                content: '';
                position: absolute;
                aspect-ratio: $icon-aspect-ratio;
                width: $icon-width;
                background: url(/dist/assets/info/info-tools-mobile.svg)
                  center/contain no-repeat;
                border-radius: 50%;
                scale: 0.95;

                @include laptop {
                  display: none;
                }
              }

              @include laptop {
                background: url(/dist/assets/info/info-tools.svg) center/contain
                  no-repeat;
                width: 10vh;
              }
            }

            &-link {
              display: none;

              @include laptop {
                display: flex;
                align-content: center;
              }

              .arrow-right {
                width: 0.3vw;
                height: 100%;
                margin-top: 0.15vh;
                margin-left: 0.2vw;
                background: url(/dist/assets/info/arrow-right.svg)
                  center/contain no-repeat;
              }
            }

            .info-text-container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 0;

              @include laptop {
                margin-left: 4vw;
              }

              .info-icon-link:hover {
                cursor: pointer;
                text-decoration: underline;
              }

              .info-icon-title {
                margin-bottom: 2vw;

                @include laptop {
                  margin-bottom: 0;
                }
              }

              .info-icon-description {
                margin-bottom: 1vw;

                @include laptop {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
