.info-section {
  height: 150vh;
  width: 100vw;
  background-color: $info-bg;

  .mid_layer::before {
    content: '';
    position: absolute;
    bottom: 1vh;
    transform: translateY(100%);
    width: 100vw;
    aspect-ratio: 10.4492/1;
    background-image: url(/dist/assets/info/info-bg-bottom.svg);
    background-position: top;
    background-size: cover;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    @include phone {
      margin-top: 15vh;
    }

    @include tablet-portrait {
      margin-top: 8vh;
    }

    @include laptop-small {
      margin-top: 15vh;
    }

    .info-button {
      margin-bottom: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .info-container {
      margin-top: 10vh;
      height: 100%;
      display: flex;

      .info-image-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        --img-size: 50vh;

        @include laptop-small {
          --img-size: 70vh;
        }

        @include laptop {
          --img-size: 75vh;
        }

        @include desktop-hd {
          --img-size: 80vh;
        }

        .info-image {
          margin-top: 5vh;
          height: var(--img-size);
          aspect-ratio: 0.69/1;
          background-image: url(/dist/assets/info/info-image.png);
          mask-image: url(/dist/assets/info/info-image-bg.svg);
          mask-repeat: no-repeat;
          mask-position: left;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
        }

        &::before {
          content: '';
          z-index: -1;
          margin-top: 45vh;
          position: absolute;
          height: var(--img-size);
          aspect-ratio: 0.69/1;
          top: 0;
          background-image: url(/dist/assets/info/info-image-bg.svg);
          background-position: left;
          background-size: contain;
          background-repeat: no-repeat;
          transform: rotate(-20deg);
        }
      }

      .image-col {
        width: 50%;
        height: 80%;
      }

      .icons-col {
        width: 50%;
        height: 80%;
        z-index: 1;

        @include tablet-portrait {
          // padding-left: 5vw;
        }

        @include laptop-small {
          padding-left: 4vw;
        }

        @include desktop-2k {
          padding-left: 5vw;
        }

        .icons-container {
          height: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(4, 1fr);
          align-items: center;

          @include laptop {
            margin-top: 5vh;
          }

          .info-icon {
            display: flex;

            &-hospital {
              height: $info-icons-size;
              width: $info-icons-size;
              background: url(/dist/assets/info/info-hospital.svg)
                center/contain no-repeat;
            }

            &-tooth {
              height: $info-icons-size;
              width: $info-icons-size;
              background: url(/dist/assets/info/info-tooth.svg) center/contain
                no-repeat;
            }

            &-jaw {
              height: $info-icons-size;
              width: $info-icons-size;
              background: url(/dist/assets/info/info-jaw.svg) center/contain
                no-repeat;
            }

            &-tools {
              height: $info-icons-size;
              width: $info-icons-size;
              background: url(/dist/assets/info/info-tools.svg) center/contain
                no-repeat;
            }

            &-link {
              display: flex;
              align-content: center;

              .arrow-right {
                width: 0.3vw;
                height: 100%;
                margin-top: 0.15vh;
                margin-left: 0.2vw;
                background: url(/dist/assets/info/arrow-right.svg)
                  center/contain no-repeat;
              }
            }

            .info-text-container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 4vw;

              .info-icon-link:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
