// for portrait mode logo is outside of the navbar

.logo-mobile {
  position: absolute;
  top: 4vh;
  left: 4.5vw;
  z-index: 1002;

  @include phone {
    display: block;
    top: 3.5vh;
    min-height: 2vw;
    max-height: 10vw;
  }

  @include tablet-portrait {
    display: block;
    min-height: 4vw;
    max-height: 6vw;
  }

  @include tablet-landscape {
    display: none;
  }
}

.nav-container {
  position: fixed;
  z-index: 1001;
  transition: clip-path 0.5s ease-in-out;

  @include phone {
    background-color: white;
    clip-path: circle(4% at 87.5% 4.25%);
  }

  @include tablet-portrait {
    background-color: white;
    // rectangular clip path placed at the button - responsive
    clip-path: circle(4% at 92.5% 4.25%);
  }

  @include tablet-landscape {
    background-color: transparent;
    clip-path: inset(0);
  }

  .nav-info {
    @include phone {
      display: none;
    }

    @include tablet-portrait {
      display: none;
    }

    @include tablet-landscape {
      display: block;
      padding: $mobile-padding-nav-info;
    }

    @include desktop-hd {
      padding: $desktop-padding-nav-info;
    }

    @include desktop-2k {
      padding: $large-desktop-padding-nav-info;
    }

    .info-container {
      display: flex;
      padding: 0.2vh 0.2vw 1vh 0.2vw;
      background: linear-gradient(
          to right,
          transparent 45%,
          white 60%,
          white 95%,
          transparent 100%
        )
        left bottom transparent no-repeat;
      background-size: 100% 1px;
      justify-content: flex-end;
      align-items: center;
    }

    .time {
      max-width: 20vw;
    }

    .time-icon {
      max-width: 0.8vw;
      margin: 0 0.4vw 0 0;
    }

    .location-icon {
      max-width: 0.9vw;
      margin: 0 0.3vw 0 1vw;
    }

    .location {
      max-width: 20vw;
    }
  }

  #phone-btn {
    display: flex;
    align-items: center;

    .phone {
      padding-right: 0.5vw;
      width: 2vw;
      height: 2vh;
    }
  }

  .nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include phone {
      @include shared-phone-portrait-styles-nav;
      padding-right: 10vw;
    }

    @include tablet-portrait {
      @include shared-phone-portrait-styles-nav;
    }

    @include tablet-landscape {
      height: 10vh;
      padding: $mobile-padding;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      #phone-btn {
        display: flex;
      }

      .nav-tools {
        justify-content: flex-start;

        #navbar-btn-expand {
          display: none;
        }

        .logo {
          display: block;
        }
      }

      .nav-contents {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: center;

        ul {
          li {
            display: inline-block;
            padding: 0px 20px;

            &::before {
              display: none;
            }
          }

          &::after {
            display: none;
          }
        }
      }

      #phone-btn {
        padding: 9px 15px;
      }

      #navbar-btn-expand {
        display: none;
      }
    }

    @include laptop-small {
      #phone-btn {
        padding: 9px 25px;
      }
    }

    @include desktop-hd {
      padding: $desktop-padding;
    }

    @include desktop-2k {
      padding: $large-desktop-padding;
    }

    .logo {
      @include tablet-landscape {
        max-height: 50%;
      }

      @include laptop {
        max-height: 60%;
      }

      @include desktop-hd {
        max-height: 65%;
      }

      @include desktop-2k {
        max-height: 75%;
      }
    }

    .nav-links li a:hover {
      color: $primary-gradient;
    }
  }
}

.expanded {
  clip-path: circle(90% at 60% 0%);
}

@keyframes expand {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}
