#nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15vw 0 15vw;
  background-color: $navbar-bg;
  transition: all 0.3s ease 0s;

  .logo {
    cursor: pointer;
    margin-right: auto;
    max-height: 70%;
  }

  .nav-links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-links li a {
    transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    color: $primary-gradient;
  }

  button {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
  }
}

.nav-info {
  padding: 0.5vh 15vw 0.5vh 15vw;

  .info-container {
    display: flex;
    padding: 0.2vh 0.2vw 1vh 0.2vw;
    background: linear-gradient(
        to right,
        transparent 45%,
        white 60%,
        white 95%,
        transparent 100%
      )
      left bottom transparent no-repeat;
    background-size: 100% 1px;
    justify-content: flex-end;
    align-items: center;
  }

  .time {
    max-width: 20vw;
  }

  .time-icon {
    max-width: 0.8vw;
    margin: 0 0.4vw 0 0;
  }

  .location-icon {
    max-width: 0.9vw;
    margin: 0 0.3vw 0 1vw;
  }

  .location {
    max-width: 20vw;
  }
}

#navbar-btn {
  display: flex;
  align-items: center;
  justify-self: center;
  padding-left: 15px;

  .phone {
    width: 2vw;
    height: 2vh;
  }
}
