header {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20%;
  background-color: $navbar-bg;
  transition: all 0.3s ease 0s;
  z-index: 9999;


  li,
  a,
  button {
    font-family: 'Roboto', sans-serif;
    color: $navbar-font;
    text-decoration: none;
  }
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-height: 100%;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: $nav-links-hover;
}

button {
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
