// Custom font framework

// Navbar related fonts
.navbar {
  $min_width: 1000px;
  $max_width: 1920px;

  &-btn-text {
    a {
      $min-font: 12px;
      $max-font: 16px;
      font-family: 'Playfair Display';
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
      white-space: nowrap;
      font-variant-numeric: lining-nums;
      font-weight: 400;
      text-align: center;
      color: white;
    }
  }

  &-text {
    a,
    li {
      $min-font: 12px;
      $max-font: 16px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
      white-space: nowrap;
      font-weight: 400;
      text-align: left;
      color: white;
    }

    &-info {
      $min-font: 6px;
      $max-font: 14px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
      white-space: nowrap;
      font-weight: 400;
      text-align: left;
      color: white;

      &-thin {
        opacity: 0.6;
      }
    }
  }
}

// Hero img related fonts
.hero {
  $min_width: 1000px;
  $max_width: 1920px;

  &-lead {
    $min-font: 32px;
    $max-font: 90px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    line-height: $max-font;
    white-space: nowrap;
    font-weight: 700;
    text-align: left;
    color: white;

    &-small {
      $min-font: 32px;
      $max-font: 54px;
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
      line-height: $max-font;
      white-space: nowrap;
      font-weight: 400;
      text-align: left;
      color: $primary-gradient;
    }
  }

  &-subtext {
    $min-font: 9px;
    $max-font: 18px;

    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    line-height: $max-font;
    line-height: $max-font + 9px;
    font-weight: 300;
    text-align: left;
    color: white;
  }

  &-btn-text {
    $min-font: 12px;
    $max-font: 18px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    // line-height: $max-font;
    white-space: nowrap;
    text-transform: none;
    font-weight: 500;
  }
}

// Info section related fonts
.info {
  $min_width: 1000px;
  $max_width: 1920px;
  $min_font: 16px;
  $max_font: 24px;

  &-btn-text {
    $min-font: 12px;
    $max-font: 20px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    // line-height: $max-font;
    white-space: nowrap;
    text-transform: none;
    font-weight: 400;
  }

  &-title {
    $min-font: 32px;
    $max-font: 64px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    color: $title-color;
    line-height: 10vh;

    &-sub {
      $min-font: 6px;
      $max-font: 20px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      color: $title-sub-color;
    }
  }

  &-icon {
    $min-font: 8px;
    $max-font: 18px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    text-align: left;
    font-weight: 400;
    color: black;

    &-link {
      $min-font: 12px;
      $max-font: 20px;
      color: $icon-link-color;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }

    &-description {
      $min-font: 12px;
      $max-font: 18px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      color: black;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }

    &-title {
      $min-font: 12px;
      $max-font: 24px;
      color: $icon-title-color;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
  }
}

// Amenities section related fonts
.amenities {
  $min_width: 1000px;
  $max_width: 1920px;
  $min_font: 24px;
  $max_font: 32px;

  &-title {
    $min-font: 12px;
    $max-font: 64px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    &-sub {
      $min-font: 12px;
      $max-font: 32px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      color: black;
      font-weight: 400;
      color: $primary-gradient;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
    &-review {
      $min-font: 12px;
      $max-font: 32px;
      color: $primary-gradient;
      font-weight: 500;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
  }

  &-description {
    $min-font: 12px;
    $max-font: 18px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }
}

// Articles section related fonts
.article {
  $min_width: 1000px;
  $max_width: 1920px;
  $min_font: 24px;
  $max_font: 32px;

  &-title {
    $min-font: 12px;
    $max-font: 28px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }

  &-description {
    $min-font: 12px;
    $max-font: 16px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #222222;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }

  &-title-main {
    $min-font: 12px;
    $max-font: 64px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: $primary-gradient;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }

  &-info {
    $min-font: 12px;
    $max-font: 16px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
    color: black;
  }
}

.contact {
  $min_width: 1000px;
  $max_width: 1920px;
  $min_font: 24px;
  $max_font: 32px;

  &-title {
    &-lead {
      $min-font: 12px;
      $max-font: 64px;
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: $primary-gradient;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }

    &-description {
      $min-font: 12px;
      $max-font: 22px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: black;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
  }

  &-icon {
    &-lead {
      $min-font: 12px;
      $max-font: 32px;
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: $primary-gradient;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);

      &-light {
        $min-font: 12px;
        $max-font: 32px;
        font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: $primary-color;
        @include fluid-type($min-width, $max-width, $min-font, $max-font);
      }
    }

    &-description {
      $min-font: 12px;
      $max-font: 22px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: black;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
  }
}

.footer {
  $min_width: 1000px;
  $max_width: 1920px;
  $min_font: 12px;
  $max_font: 20px;

  &-lead {
    $min-font: 12px;
    $max-font: 32px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }

  &-description {
    $min-font: 12px;
    $max-font: 18px;
    line-height: 2.7vh;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    @include fluid-type($min-width, $max-width, $min-font, $max-font);

    &-light {
      $min-font: 12px;
      $max-font: 18px;
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-weight: 400;
      text-align: center;
      color: #cfcfcf;
      @include fluid-type($min-width, $max-width, $min-font, $max-font);
    }
  }
}
