// Custom font framework

// Navbar related fonts
.navbar {
  &-btn-text {
    a {
      font-family: 'Playfair Display';
      font-size: clamp(12px, 1vw, 18px);
      white-space: nowrap;
      font-variant-numeric: lining-nums;
      font-weight: 400;
      text-align: center;
      color: white;
    }
  }

  &-text {
    @include phone {
    }

    @include tablet-portrait {
      a,
      li {
        font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
        font-size: clamp(24px, 5vw, 40px);
        white-space: nowrap;
        font-weight: 400;
        text-align: left;
        line-height: 9vh;
        font-weight: bold;
        color: $primary-gradient;
      }
    }

    @include tablet-landscape {
      a,
      li {
        font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
        font-size: clamp(12px, 1vw, 16px);
        white-space: nowrap;
        font-weight: 400;
        text-align: left;
        color: white;
      }
    }

    &-info {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-size: clamp(6px, 1vw, 14px);
      white-space: nowrap;
      font-weight: 400;
      text-align: left;
      color: white;

      &-thin {
        opacity: 0.6;
      }
    }
  }
}

// Hero related fonts
.hero {
  &-lead {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(50px, 3.5vw, 100px);
    line-height: 110px;
    white-space: nowrap;
    font-weight: 700;
    text-align: left;
    color: white;

    &-small {
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      font-size: clamp(32px, 3vw, 54px);
      line-height: 32px;
      white-space: nowrap;
      font-weight: 400;
      text-align: left;
      color: $primary-gradient;
    }
  }

  &-subtext {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: clamp(9px, 1vw, 18px);
    line-height: 50px;
    font-weight: 300;
    text-align: left;
    color: white;
  }

  &-btn-text {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 18px);
    white-space: nowrap;
    text-transform: none;
    font-weight: 500;
  }
}

// Info section related fonts
.info {
  &-btn-text {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 20px);
    white-space: nowrap;
    text-transform: none;
    font-weight: 400;
  }

  &-title {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(32px, 3vw, 64px);
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    color: $title-color;
    line-height: 10vh;

    &-sub {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-size: clamp(6px, 1vw, 20px);
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      color: $title-sub-color;
    }
  }

  &-icon {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(8px, 1vw, 18px);
    text-align: left;
    font-weight: 400;
    color: black;

    &-link {
      color: $icon-link-color;
      font-size: clamp(12px, 1vw, 20px);
    }

    &-description {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      color: black;
      font-size: clamp(12px, 1vw, 18px);
    }

    &-title {
      color: $icon-title-color;
      font-size: clamp(12px, 1vw, 24px);
    }
  }
}

// Amenities section related fonts
.amenities {
  &-title {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    font-size: clamp(12px, 4vw, 64px);

    &-sub {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      color: black;
      font-weight: 400;
      color: $primary-gradient;
      font-size: clamp(24px, 2vw, 32px);
    }

    &-review {
      color: $primary-gradient;
      font-weight: 500;
      font-size: clamp(18px, 1vw, 32px);
    }
  }

  &-description {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 400;
    text-align: center;
    color: white;
  }
}

// Articles section related fonts
.article {
  &-title {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 28px);
    font-weight: 400;
    color: black;
  }

  &-description {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 400;
    color: #222222;
  }

  &-title-main {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(48px, 4vw, 64px);
    font-weight: 400;
    color: $primary-gradient;
  }

  &-info {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 400;
    color: black;
  }
}

.contact {
  &-title {
    &-lead {
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      font-size: clamp(48px, 4vw, 64px);
      font-weight: 400;
      color: $primary-gradient;
    }

    &-description {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-size: clamp(12px, 1vw, 22px);
      font-weight: 400;
      color: black;
    }
  }

  &-icon {
    &-lead {
      font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
      font-size: clamp(24px, 1.5vw, 32px);
      font-weight: 400;
      color: $primary-gradient;

      &-light {
        font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
        font-size: clamp(24px, 1.5vw, 32px);
        font-weight: 400;
        color: $primary-color;
      }
    }

    &-description {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-size: clamp(18px, 1vw, 22px);
      font-weight: 400;
      color: black;
    }
  }
}

.footer {
  &-lead {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 1vw, 32px);
    font-weight: 400;
    text-align: center;
    color: white;
  }

  &-description {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1vw, 18px);
    font-weight: 400;
    line-height: 2.7vh;
    text-align: center;
    color: white;

    &-light {
      font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
      font-size: clamp(12px, 1vw, 18px);
      font-weight: 400;
      text-align: center;
      color: #cfcfcf;
    }
  }
}
