// Source: https://gradientbuttons.colorion.co/
.btn-grad {
    background-image: linear-gradient(
      to right,
      #1a2980 0%,
      $secondary-color 51%,
      $primary-color 100%
    );
  }
  .btn-grad {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 9px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: $navbar-second-font;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }