.wrapper {
  @include tablet-landscape {
    margin: $mobile-padding;
  }

  @include desktop-hd {
    margin: $desktop-padding;
  }

  @include desktop-2k {
    margin: $large-desktop-padding;
  }
}
