.wrapper {
  @include phone {
    margin: $mobile-padding;
  }

  @include tablet-portrait {
    margin: $mobile-padding;
  }

  @include tablet-landscape {
    margin: $mobile-padding;
  }

  @include desktop-hd {
    margin: $desktop-padding;
  }
}
