@use "sass:math";

// Keith clark depth correction formula: https://keithclark.co.uk/articles/pure-css-parallax-websites/
@function parallax-scale-factor($zDistance) {
  $result: $parallaxPerspective - $zDistance; // This is equal to -translateZ
  $result: math.div($result, $parallaxPerspective);
  @return $result;
}