// Keith clark depth correction formula: https://keithclark.co.uk/articles/pure-css-parallax-websites/
@function parallax-scale-factor($zDistance) {
  $result: $parallaxPerspective - $zDistance; // This is equal to -translateZ
  $result: ($result / $parallaxPerspective);
  @return $result;
}


@function scale-hero($dim, $scaleFactor) {
  $result: 0;
  $result: $dim/$scaleFactor;
  @return $result
}