@use 'sass:math';

// Utility classes
.navbar-transform-bg {
  background-color: $navbar-second-bg;
}
.navbar-transform-text {
  color: $navbar-second-font;
}

// Zoom animation on hero section
@keyframes zoomIn {
  0% {
    filter: brightness($hero-brightness);
    // transform: translateZ($parallax-distanceZ) scale(2);
  }
  100% {
    filter: brightness($hero-brightness);
    transform: scale($zoom-scale);
    // transform: translateZ($parallax-distanceZ) scale(3);
  }
}

// Typography animation on hero section
@keyframes slidein {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Media Query Mixins
@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin laptop-small {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin desktop-hd {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin desktop-2k {
  @media (min-width: 2300px) {
    @content;
  }
}
