// Navbar utility classes
.navbar-transform-bg {
  background-color: $navbar-second-bg;
}
.navbar-transform-text {
  color: $navbar-second-font;
}

// Zoom animation on hero section
@keyframes zoomIn {
  0% {
    filter: brightness($hero-brightness);
    transform: translateZ($parallax-initial-distanceZ) scale(1);
  }
  100% {
    filter: brightness($hero-brightness);
    transform: translateZ($parallax-distanceZ) scale(2);
  }
}

// Typography animation on hero section
@keyframes slidein {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
