// Colors
$body-color: #edf0f1;

// Navbar related
$navbar-bg: transparent;
$navbar-second-bg: #393a3993;

$navbar-font: #393a39;
$navbar-second-font: #edf0f1;

$navbar-btn: rgba(0, 136, 169, 1);
$navbar-btn-hover: rgba(0, 136, 169, 0.8);

$nav-links-hover: #00abd6;

// Initial font size
$f-base: 16px;

// General
$primary-color: #0867ff;
$secondary-color: #2ec7ff;
$primary-gradient: #1a2980;
$secondary-gradient: #26d0ce;

// Hero related
$zoom-duration: 20s;
$zoom-scale: 1.5;
$blur-scale: 10px;
$hero-brightness: 20%;
$hero-slidein-duration: 1.5s;
$hero-reveal-duration: 1s;
$hero-second-reveal-delay: 2s;
$button-reveal-duration: 1s;
$hero-button-reveal-delay: 3s;

$hero-font-color: #0d0d0e;
$hero-curve-fill: #edf0f1;
$hero-curve-stroke: $primary-color;
$hero-curve-stroke-width: 2px;

// Info related
$info-bg: #fff;
$info-bottom-shape-size: 19vh; // size to calculate position for bottom shape on info section
$separator-fill: #000000;
$title-color: #000000;
$description-color: #636363;

$icon-hover-duration: 0.25s;
$icon-reveal-duration: 1s;
$icon-reveal-delay: 0s;

// Amenities section
$next-bg: #636363;
$amenities-lead: #edf0f1;
$amenities-lead-primary: $primary-color;
$amenities-lead-secondary: $navbar-bg;
$amenities-title: #000000;

// Parallax related
$parallaxPerspective: 300px;
